@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Se produjo un error al procesar su solicitud.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID Solicitud:</strong> <code>@Model.RequestId</code>
    </p>
}

    <h3>Modo de desarrollo</h3>
    <p>
        Intercambio a<strong>desarrollo</strong>entorno mostrará información más detallada sobre el error que ocurrió</p>
<p>
    <strong>El entorno de desarrollo no debe habilitarse en aplicaciones implementadas</strong>, as it can result in sensitive information from exceptions being displayed to end users. For local debugging, development environment can be enabled by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>, and restarting the application.
</p>
